@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 55%;
}

td,
th {
    border: none;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ED1970;
}

#gradientText {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

td {
    text-align: center;
    height: 20px;
}

tr {
    font-size: 25px;
}

input[type="text"],
input[type="number"],
button {
    margin-right: 5px;
}

label {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

body {
    font-family: 'Galano', sans-serif;
  }

#scoreboard {
    margin: 20px auto;
}

#scoreboard tr:first-child th.name,
#scoreboard tr:first-child th.score {
    border: 1px solid #ED1970;
    padding: 8px;
    text-align: center;
}

#scoreboard th.name {
    width: 60%;
}

#scoreboard th.score {
    width: 40%;
}

#backgroundImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    object-fit: fill;
}

#input_fields,
h1 {
    display: block;
    margin: 35px auto;
    text-align: center;
}

#input_fields {
    margin: 50px auto;
    font-size: 30px;
}

#tr_1 {
    font-size: 40px;
}

#tr_2 {
    font-size: 35px;
}

#tr_3 {
    font-size: 30px;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(121, 98, 162);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(103, 58, 183);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.helper-text {
  color: rgb(33, 174, 33);
}

#totalScore {
  width: 100px;
  padding: 7px;
}

#submitDiv {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

#submitButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#submitButton:hover {
  background-color: #45a049;
}